<a href="https://colab.research.google.com/github/JHP4911/ASl-Recognition-master/blob/master/Esignment_ipnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# The Largest Number
listA = [1,2,3,4,5,6,7,8,9,10]
listB = [11,12,13,14,15,16,17,18,19,20]
print('The largest number from listA is:',max(listA))

The largest number from listA is: 10

In [2]:
# The second Largest Number

In [3]:
print("Second largest Number is:", listA[-2])

Second largest Number is: 9

In [14]:
# The Merge Two  Number list  
listA = [1,2,3,4,5,6,7,8,9,10]
listB = [11,12,13,14,15,16,17,18,19,20]
list3 = listA + listB
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [11]:
#@ Sort Number List
list3.sort(reverse=True)
print(list3)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [16]:
# To Swap the first & last value of a first_list    
def swapPositions(list, pos1, pos6): 
    list[pos1],list[pos6] = list[pos6],list[pos1] 
    return list
first_list = [23, 1, 9, 11, 26, 9]
pos1, pos2  = 1, 6
print(swapPositions(first_list, pos1-1, pos2-1))

[9, 1, 9, 11, 26, 23]