<font color=blue> <h1 align=center> Python Operators</h1></font>

 ***

## What are operators in python?

Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

For example:

In [ ]:
2+3

Here, + is the operator that performs addition. 2 and 3 are the operands and 5 is the output of the operation.

## Arithmetic operators

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, etc.

<img src='img/airthmatic.png' width=600 height=500>

##### Example 1: Arithmetic operators in Python

In [1]:
x = 15
y = 4

# Output: x + y = 19
print('x + y =',x+y)

# Output: x - y = 11
print('x - y =',x-y)

# Output: x * y = 60
print('x * y =',x*y)

# Output: x / y = 3.75
print('x / y =',x/y)

# Output: x // y = 3
print('x // y =',x//y)

# Output: x ** y = 50625
print('x ** y =',x**y)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625

In [3]:
2**8

256

In [7]:
20//5

4

In [8]:
20//3

6

<br>

## Comparison operators

Comparison operators are used to compare values. It returns either True or False according to the condition.

<img src='img/conditional.png' width=700 height=300>

##### Example 2: Comparison operators in Python

In [9]:
x = 10
y = 12

# Output: x > y is False
print('x > y is',x>y)

# Output: x < y is True
print('x < y is',x<y)

# Output: x == y is False
print('x == y is',x==y)

# Output: x != y is True
print('x != y is',x!=y)

# Output: x >= y is False
print('x >= y is',x>=y)

# Output: x <= y is True
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

In [11]:
10 != 101

True

In [13]:
101 > 100

True

In [16]:
100 >= 100

True

<br>

## Logical operators

In [ ]:
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

In [25]:
False or False or True

True

In [27]:
not True

False

In [29]:
a = 10
b = 20
 a < b

False

In [17]:
d = input("Enter your choice\n1. Login\n2. SignUp")

Enter your choice
1. Login
2. SignUp1 , Login, login , LOGIN

<br>

## Bitwise operators

Bitwise operators act on operands as if they were strings of binary digits. They operate bit by bit, hence the name.

For example, 2 is 10 in binary and 7 is 111.

In the table below: Let x = 10 (0000 1010 in binary) and y = 4 (0000 0100 in binary)

In [ ]:
    1010     = 10
|   0100     = 4
---------------
    1110    = 14
    -----------

<img src='img/bitwise.png' width=700 height=300>

In [ ]:
       00101000=40    
<<2
        0010 = 2
>>2

<br>

## Assignment operators

Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

There are various compound operators in Python like a += 5 that adds to the variable and later assigns the same. It is equivalent to a = a + 5.

<img src='img/assignment.png' width=700 height=300>

In [30]:
a = 5
a = a + 10
print(a)
a += 5
print(a)

15
20

In [32]:
x = 10

In [33]:
x *= 4
print(x)

40

<br>

## Special operators

Python language offers some special types of operators like the identity operator or the membership operator. They are described below with examples.

### Identity operators

'is' and 'is not' are the identity operators in Python. They are used to check if two values (or variables) are located on the same part of the memory. Two variables that are equal does not imply that they are identical.

<img src='img/identity.png' width=800 height=300>

In [38]:
a = 10
b = 10
c = 11

In [54]:
print(id(a))
print(id(b))
print(id(c))

139680189866368
139680189866368
9752480

In [37]:
a is b

True

In [41]:
a is not c

True

##### Example 4: Identity operators in Python

In [44]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

False
True
False

In [48]:
x3 = [1,2,3]
y3 = [1,2,3]

In [49]:
y3.pop()

3

In [50]:
print(x3)
print(y3)

[1, 2, 3]
[1, 2]

In [45]:
x3 == y3

True

In [47]:
print(id(x3))
print(id(y3))

139680189867648
139680189866368

In [51]:
a = [10, 20, 30]
b = a

In [52]:
a is b

True

In [53]:
help(list.copy)

Help on method_descriptor:

copy(self, /)
    Return a shallow copy of the list.

Here, we see that x1 and y1 are integers of the same values, so they are equal as well as identical. Same is the case with x2 and y2 (strings).

But x3 and y3 are lists. They are equal but not identical. It is because the interpreter locates them separately in memory although they are equal.

<br>

### Membership operators

in and not in are the membership operators in Python. They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

In a dictionary we can only test for presence of key, not the value.

In [55]:
a

[10, 20, 30]

In [57]:
10 in a

True

In [58]:
100 in a

False

In [59]:
name = 'Python Training'

In [64]:
'python' not in name

True

In [65]:
database = {
    1001:{
        'name': 'Sachin',
        'age': 22,
        'email': 'eddygrant000@gmail.com'
    },
    1002:{
        'name': 'Tanuj',
        'age': 25,
        'email': 'tanuj@gmail.com'
    }
}

In [68]:
new_user = int(input("Enter new account: "))
new_user not in database.keys()

Enter new account: 1005

True

<img src='img/membership.png' width=700 height=300>

##### Example #5: Membership operators in Python

In [71]:
x = 'Hello world'
y = {1:'a',2:'b'}

# Output: True
print('H' in x)

# Output: True
print('hello' not in x)

# Output: True
print(1 in y)

# Output: False
print('a' in y.values())

True
True
True
True

In [72]:
y.values()

dict_values(['a', 'b'])

Here, 'H' is in x but 'hello' is not present in x (remember, Python is case sensitive). Similarly, 1 is key and 'a' is the value in dictionary y. Hence, 'a' in y returns False.